{% extends 'base.html.twig' %}

{% block title %}Nos Gites
{% endblock %}

{% block body %}
	<div class="bg-light p-5 rounded">
		<div class="bg-light text-center mt-3">
			<h1>Nos gites</h1>
		</div>
		<div class="bg-dark p-5 rounded text-white mb-1">
			{{ form_start(form)}}
			<div class="row">
				<div class="col-4">
					{{ form_row(form.ville) }}
				</div>
				<div class="col-4">
					{{ form_row(form.minSurface) }}
				</div>
				<div class="col-4">
					{{ form_row(form.maxTarif) }}
				</div>
				<div class="col-4">
					{{ form_row(form.equipements) }}
				</div>
				<div class="col-4">
					{{ form_row(form.minChambre) }}
				</div>
				<div class="col-4">
					{{ form_row(form.minCouchage) }}
				</div>


				<div class="col-2">
					{{ form_row(form.animaux) }}
				</div>

				<div class="col-2"></div>
				<div class="col-2"></div>
				<div class="col-2"></div>

				<div class="col-3">
					<button class="btn btn-light">Filtrer les gites</button>
				</div>

			</div>
			{{ form_end(form)}}
		</div>
		<div class="bg-light text-center">

			<div class="row row-cols-1 row-cols-md-3 g-3">
				{% for gite in gites %}
					<div class="col-3">
						<div class="card" data-aos="flip-left" data-aos-duration="2000" data-aos-anchor-placement="bottom-bottom">
							{% if gite.imageName %}
								<img src="{{ vich_uploader_asset(gite, "imageFile")}}" class="card-img-top" alt="..." style="width:100%; height:300px;">
							{% else %}
								<img src="/images/gites/gite_default.jpg" class="card-img-top" alt="..." style="width:100%; height:300px;">
							{% endif %}
							<h3 class="card-title">{{ gite.nom }}</h3>
							<h5>
								{{ gite.ville }}
								-
								{{ gite.codePostal [:2] }}
								{{ gite.codePostal [2:] }}
							</h5>
							<div class="card-body">
								<p>{{ (gite.description|length > 80 ? gite.description|slice(0, 80) ~ '…' : gite.description) }}</p>
								<h6>Ajouté le
									{{gite.addAt|format_datetime('short', 'none', locale='fr') }}</h6>
								<a href="{{ path('gite_show', {'id': gite.id}) }}" class="btn btn-dark">Voir le gite</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
		</div>
		<div class="d-flex justify-content-center">
			{% do gites.setPageRange(2) %}
			{{ knp_pagination_render(gites, 'pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
