{% extends 'base.html.twig' %}

{% block title %}Nos Gites
{% endblock %}

{% block body %}
	<div class="bg-light p-5 rounded text-center">
		<h1>Nos gites</h1>
		<hr>
		<div class="bg-light p-5 rounded text-center">
			{{ form_start(form)}}
			<div class="row">
				<div class="col">
					{{ form_row(form.minSurface) }}
				</div>
				<div class="col">
					{{ form_row(form.minChambre) }}
				</div>
				<div class="col">
					{{ form_row(form.minCouchage) }}
				</div>
				<div class="col">
					{{ form_row(form.maxTarif) }}
				</div>

				<div class="col">
					<button class="btn btn-primary">Recherche</button>
				</div>
			</div>
			{{ form_end(form)}}
		</div>
		<div class="row row-cols-1 row-cols-md-3 g-3">
			{% for gite in gites %}
				<div class="col">
					<div class="card">
						<img src="{{gite.image}}" class="card-img-top" alt="...">
						<h4 class="card-title">{{ gite.nom }}</h4>
						<h6>{{ gite.ville }}
							-
							{{ gite.codePostal [:2] }}
							{{ gite.codePostal [2:] }}
						</h6>
						<div class="card-body">
							<p>{{ (gite.description|length > 80 ? gite.description|slice(0, 80) ~ '…' : gite.description) }}</p>
							<a href="{{ path('gite_show', {'id': gite.id}) }}" class="btn btn-success">Voir le gite</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="d-flex justify-content-center">
			{% do gites.setPageRange(2) %}
			{{ knp_pagination_render(gites, 'pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
